<div class="container-fluid  bg-light mt-5">
    <div class="container  d-flex justify-content-center py-5">
        <div class="col-6 d-flex flex-column justify-content-center ps-5">
            <h2 class="card-title text-dark">Join Our Newsletter</h2> <br/>
            <p class="card-text text-muted">We Love to surprise our subscribers with occasional gifts.</p> <br/>
            
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center" >
            <form class="row g-3 align-middle">
                <div class="col-auto">
                    <label for="staticEmail2" class="visually-hidden">Email</label>
                    <input type="text" class="form-control bg-light" id="staticEmail2" placeholder="Your email address">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-dark mb-3">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</div>