<nav class="sidebar">
    <ul class="nav flex-column gap-1">
        <li id="admin" class="nav-item">
            <a class="nav-link" href="../Admin/admin.html">
                <i class="fa-solid fa-table-columns"></i> Dashboard
            </a>
        </li>
        <li id="product" class="nav-item">
            <a class="nav-link" href="../Admin/product.html">
                <i class="fa-solid fa-box"></i> Products
            </a>
        </li>
        <li id="seller" class="nav-item">
            <a class="nav-link" href="../Admin/seller.html">
                <i class="fa-solid fa-cart-shopping"></i> Seller
            </a>
        </li>
        <li id="customer" class="nav-item">
            <a class="nav-link" href="../Admin/customer.html">
                <i class="fa-solid fa-users"></i> Customer
            </a>
        </li>
    </ul>

    <div class="sidebar-divider"></div>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="../Home/home.html">
                <i class="fa-solid fa-circle-plus"></i> Home 
            </a>
        </li>
    </ul>
</nav>