<nav id="sidebar" class="sidebar">
    <ul class="nav flex-column gap-1">
        <li id="admin" class="nav-item">
            <a class="nav-link" href="../Seller/seller.html">
                <i class="fa-solid fa-table-columns"></i> Dashboard
            </a>
        </li>
        
        <li id="admin" class="nav-item">
            <a class="nav-link" href="../Seller/product.html">
                <i class="fa-solid fa-table-columns"></i> Products
            </a>
        </li>
       
    </ul>

    <div class="sidebar-divider"></div>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="../Home/home.html">
                <i class="fa-solid fa-circle-plus"></i> Home 
            </a>
        </li>
    </ul>
</nav>


