.cart-item-img 
{
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 4px;
}

.order-summary-card 
{
    padding: 100px 24px;
    border-radius: 4px;
}

.btn-remove 
{
    background: #F2F4F5;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    color: #475156;
}

.cart-table th 
{
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.w-fit-content 
{
    width: fit-content;
    display: inline-flex;
    background: #fff;
}

.cart-table .col-7 
{ 
    padding-left: 0; 
}